<body id="settings-page">
  <%= render 'shared/header' %>
  <div class="row">
    <div class=".col-md-12">
      Hello! User Setttings
    </div>
  </div>
  <div class="sticky-footer">
    <%= render 'shared/footer' %>
  </div>
</body>
