<div class="footer">
  <div class="container">
    <p class="text-muted">Copyright &copy; FancyFeed <%= Time.now.year %><br>
    <a href="#top"><i class="fa fa-arrow-up"></i></a> Back to Top</p>
  </div>
</div>
