<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand nav-logo" href="#">FancyFeed</a>
    </div>
    <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
    <% end %>
  </div>
</nav>
