<body id="front-page">
  <%= render 'shared/header' %>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="transbox">
        <p>
          Something
        </p>
        <p>
          Something
        </p>
        <p>
          Something
        </p>
        <p>
          Something
        </p>
      </div>
    </div>
  </div>


  <div class="sticky-footer">
    <%= render 'shared/footer' %>
  </div>
</body>
