<% @search_results.each do |handle| %>
  <p>
    <%= link_to handle.name, handle.link %>
    <%= link_to subscribe_path(:handle_uri => handle.uri), class: "btn menu-button", method: :post do %>
      <label class="sr-only">Subscribe</label>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </p>
<% end %>
